/*
  Reset: https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-size: 1rem;
}
#root,
#__next {
  isolation: isolate;
}
/* End Reset */

:root {
  --base: #1b314f;
  --base-light: #f4f4f4;
  --bg-dark: #051730;
  --bg-light: #eae9ee;

  --color-success: #8CF8A3;
  --color-info: #619EFF;
  --color-danger: #FF7A7A;
  --font-family: 'DM Sans', Helvetica, Arial, sans-serif;
}

html {
  font-family: var(--font-family);
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: var(--base);
  background: var(--bg-dark);
}
button {
  border: none;
  outline: none;
  padding: 0.5rem 0.75rem;
  margin: 0;
  text-decoration: none;
  background: var(--base);
  color: var(--base-light);
  font-family: var(--font-family);
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button:disabled {
  background: var(--bg-dark);
  border: none;
  box-shadow: none;
  opacity: 0.6;
}

dialog {
  width: 416px;
  padding: 1.25rem 1rem;
  border-radius: 4px;
  border-color: var(--base);
  background: var(--bg-dark);
  color: var(--base-light);
  margin: 0;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  box-shadow:
    0 2px 6px 0 var(--bg-dark),
    0 6px 6px -2px rgba(120, 120, 120, 0.125);
  & a {
    color: var(--base-light);
    text-decoration: underline;
  }
}
.dialog--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.dialog--header h2 {
  text-transform: uppercase;
}

::backdrop {
  backdrop-filter: blur(2px);
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3.5rem 1fr 1fr;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
.page-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  grid-column: 1 / -1;
  padding: 0 1.5rem;
  z-index: 50;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(17, 181, 255, 0.14) 100%
    ),
    var(--bg-dark);
  background-blend-mode: hard-light, normal;
}
.page-header__headline {
  font-size: 1.24rem;
  font-weight: normal;
  letter-spacing: 0.625rem;
  text-transform: uppercase;
  color: var(--base-light);
}
.carto {
  grid-row: 2;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1rem;
  color: var(--base-light);
}
.carto__slider--wrapper {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  padding: 1rem;
}
#map {
  min-height: 480px;
  max-height: 100%;
}
.maplibregl-popup-content {
  color: var(--base);
  padding: 1.25rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 1rem 0 rgba(50, 50, 50, 0.125);
  font-size: 0.875rem;
  font-family: var(--font-family);
}
.maplibregl-popup-close-button {
  font-size: 2rem;
  right: 0.25rem;
  border-radius: 0.25rem;
  top: 0.25rem;
  opacity: 0.5;
}

.panel {
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem 1.5rem;
  background: var(--bg-dark);
  color: var(--base-light);
  overflow: auto;
  border-right: 1px solid rgba(83, 64, 64, 0.125);
  box-shadow:
    1rem -1rem 1.5rem 0px rgba(68, 63, 63, 0.08),
    0px 0px 1rem 0px rgba(4, 240, 255, 0.12),
    0px 0px 12rem 0px rgba(0, 0, 0, 0.8) inset;
  border-radius: 0.5rem;
  position: relative;
  height: calc(100% + 1rem);
  z-index: 100;
}
.panel.open {
  top: 12vh;
  position: absolute;
  height: calc(100vh - 5rem);
}
.panel__dragger {
  display: inline-block;
  align-self: center;
  justify-self: center;
  position: relative;
  width: 3rem;
  height: 0.375rem;
  border-radius: 1rem;
  background: rgba(222, 222, 222, 0.25);
  margin-top: -1rem;
  color: transparent;
  margin-bottom: 1rem;
  transition: all 0.32s ease-in-out;
  cursor: pointer;
}
.panel__dragger:hover {
  background: var(--base-light);
  box-shadow: 0 6px 6px -2px var(--bg-light);
}

.panel h2,
.panel h3 {
  text-transform: uppercase;
  font-weight: 900;
}
.panel article ~ article {
  margin-top: 1rem;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  padding-top: 1rem;
}
.panel article > section ~ section {
  margin-top: 2rem;
}
input {
  border-radius: 0.25rem;
  padding: 0.125rem 0.5rem;
  background: var(--bg-dark);
  color: var(--base-light);
  border: 1px solid var(--bg-light);
}
.stats table {
  color: var(--base-light);
  font-size: 0.875rem;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  line-height: 1.25rem;
  margin: 0.25rem 0;
}
ul.bar-chart {
  list-style: none;
  font-size: 0.875rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25rem;
  margin-bottom: 1rem;
  background: rgb(0, 64, 153, 0.25);
  padding: 1rem;
  border: 1px solid var(--base);
}
li.bar-chart__bar {
  display: flex;
  position: relative;
  height: 1rem;
}
.bar-chart__bar span {
  display: inline-block;
}
.bar-chart__bar--label {
  min-width: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.625rem;
}
.bar-chart__bar--value {
  width: 100%;
  display: flex;
  width: 100%;
  box-shadow: inset 0 0 1px 1px rgba(222, 222, 222, 0.25);
}
.bar-chart__bar--add {
  background: var(--color-success);
}
.bar-chart__bar--mod {
  background: var(--color-info)
}
.bar-chart__bar--del {
  background: var(--color-danger);
}
.stats table th {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.feature--label__add{
  color: var(--color-success);
}
.feature--label__mod{
  color: var(--color-info);
}
.feature--label__del{
  color: var(--color-danger);
}

.stats table th:not(:first-child),
.stats table td:not(:first-child) {
  text-align: right;
}

.stats__heading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.stats__heading h2 {
  font-size: 1.125rem;
  width: 100%;
}
.stats__heading p {
  justify-self: flex-end;
  white-space: pre;
}

.carto__slider--heading h4 {
  text-transform: uppercase;
}
.carto__slider--heading p {
  font-size: 0.875rem;
  line-height: 1rem;
}
.carto__slider--tools {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.carto__slider--loading {
  opacity: 0.8;
}

.loading {
  height: 20px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.loading:after {
  content: "";
  position: absolute;
  width: 80%;
  top: 4px;
  right: 0;
  height: 12px;
  border-radius: 0.25rem;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.15) 60%,
      rgba(255, 255, 255, 0.0125) 80%
    ),
    rgba(122, 122, 122, 0.125);
  background-size:
    80px 24px,
    100%;
  background-position:
    -100px 0,
    100%;
  background-repeat: no-repeat;
  animation: skeleton-loading 2s linear infinite;
}
.bar-chart__bar .loading:not(:first-child):after {
  width: 100%;
  border-radius: 0;
}
.loading:first-child:after {
  left: 0;
}
@keyframes skeleton-loading {
  to {
    background-position: 100px 0;
  }
}
@media screen and (min-width: 741px) {
  .layout {
    grid-template-columns: 24rem 1fr;
    grid-template-rows: 3.5rem minmax(10px, 1fr);
  }
  .carto {
    grid-row: initial;
    height: calc(100vh - 3.5rem);
  }
  .carto__slider--wrapper {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 1fr;
  }
  .carto__slider--heading {
    height: 4rem;
  }
  .carto #map {
    flex: 8;
  }
  .panel {
    border-radius: 0;
    top: initial;
    height: initial;
  }
  .panel__dragger {
    display: none;
  }
}

.tr--button,
.dialog__open-button,
.dialog__close-button,
.carto__slider--button {
  border-radius: 0.25rem;
  border: 2px solid var(--base);
  background-image: linear-gradient(
    125deg,
    var(--base) 0%,
    var(--bg-dark) 51%,
    var(--base) 100%
  );
  cursor: pointer;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: all 0.24s ease-out;
  flex: 1;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow:
    0 2px 6px 0 rgba(68, 63, 63, 0.16),
    0 6px 6px -2px rgba(120, 120, 120, 0.125);
  background-size: 250% auto;
}
.carto__slider--button svg,
.dialog__open-button svg,
.dialog__close-button svg {
  height: 16px;
  width: 16px;
}
.tr--button:hover,
.dialog__open-button:hover,
.dialog__close-button:hover,
.carto__slider--button:hover {
  background-position: right center;
  color: #fff;
  box-shadow:
    0 2px 6px 0 rgba(68, 63, 63, 0.32),
    0 6px 6px -2px rgba(0, 0, 0, 0.5);
}
.tr--button {
  display: table-cell;
}
.dialog__open-button,
.dialog__close-button {
  display: inline-flex;
  gap: 0.5rem;
  padding: 0.5rem;
  flex: initial;
}
.dialog__close-button {
  background: var(--bg-dark);
  display: inline-flex;
}

/* Style Maplibre Geocoder */
.maplibregl-ctrl-geocoder,
.maplibregl-ctrl-geocoder--input,
.maplibregl-ctrl-geocoder--input:focus,
.maplibregl-ctrl-geocoder--input::placeholder,
.maplibregl-ctrl-geocoder .suggestions,
.maplibregl-ctrl-geocoder--button,
.maplibre-gl-geocoder--error,
.maplibregl-ctrl-geocoder .suggestions > li > a {
  background: var(--base);
  color: var(--base-light);
}
.mapboxgl-ctrl-geocoder--result-icon,
.mapboxgl-ctrl-geocoder--result-icon path,
.maplibregl-ctrl-geocoder--icon,
.maplibregl-ctrl-geocoder--icon-loading path {
  fill: var(--base-light);
}
.maplibregl-ctrl-geocoder .suggestions > li > a:hover,
.maplibregl-ctrl-geocoder .suggestions > li > a:hover .mapboxgl-ctrl-geocoder--result-icon path {
  background: var(--bg-dark);
  color: var(--base-light);
}