/*
  Reset: https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video,
canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-size: 1rem;
}
#root, #__next {
  isolation: isolate;
}
/* End Reset */

:root {
  --base: ;
  --base-light: #f4f4f4;
  --bg-dark: #051730;
  --bg-light: #eae9ee;
  --font-family: 'DM Sans', Helvetica, Arial, sans-serif;
}

html {
  font-family: var(--font-family);
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.layout {
  display: grid;
  grid-template-columns: 24rem 1fr;
  grid-template-rows: 3.5rem minmax(10px, 1fr);
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
.page-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 3.5rem;
  grid-column: 1 / -1;
  padding: 0 1.5rem;
  z-index: 50;
  border-bottom: 1px solid rgba(255, 255, 255, 0.30);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(17, 181, 255, 0.14) 100%), var(--bg-dark);
  background-blend-mode: hard-light, normal;
}
.page-header__headline {
  font-size: 1.24rem;
  font-weight: normal;
  letter-spacing: 0.625rem;
  text-transform: uppercase;
  color: var(--base-light);
}

#map {
  min-height: 480px;
  max-height: 100%;
}

.panel {
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem 1.5rem;
  background: var(--bg-dark);
  color: var(--base-light);
  overflow: auto;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 12px 0px 24px 0px rgba(68, 63, 63, 0.08),
    1px 0px 16px 0px rgba(4, 240, 255, 0.12),
    0px 0px 180px 0px rgba(0, 0, 0, 0.8) inset;
}
.panel h2,
.panel h3 {
  text-transform: uppercase;
  font-weight: 900;
}
.panel article ~ article {
  margin-top: 1rem;
  border-top: 2px solid rgba(255, 255, 255, 0.30);
  padding-top: 1rem;
}
.panel article > section ~ section {
  margin-top: 2rem;
}
input {
  border-radius: 0.25rem;
  padding: 0.125rem 0.5rem;
  background: var(--bg-dark);
  color: var(--base-light);
  border: 1px solid var(--bg-light);
}
.stats table {
  color: var(--base-light);
  font-size: 0.875rem;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  line-height: 1.25rem;
  margin: 0.25rem 0;
}
.stats table th {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.stats table th:not(:first-child),
.stats table td:not(:first-child) {
  text-align: right;
}

.stats__heading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.stats__heading h2 {
  font-size: 1.125rem;
  width: 100%;
}
.stats__heading p {
  justify-self: flex-end;
  white-space: pre;
} 

.loading {
  height: 20px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.loading:after {
  content: '';
  position: absolute;
  width: 80%;
  top: 4px;
  right: 0;
  height: 12px;
  border-radius: 0.25rem;
  background: linear-gradient( 90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15) 60%, rgba(255, 255, 255, 0.0125) 80% ), rgba(122,122,122,0.125);
  background-size: 80px 24px, 100%;
  background-position: -100px 0, 100%;
  background-repeat: no-repeat;
  animation: skeleton-loading 2s linear infinite;
}
.loading:first-child:after {
  left:0;
}
@keyframes skeleton-loading {
  to {
      background-position:
          100px 0;
  }
}